[submodule "challenge"]
	path = challenge
	url = https://github.com/gemarkode/challenge
[submodule "event"]
	path = event
	url = https://github.com/gemarkode/event
[submodule "showcase"]
	path = showcase
	url = https://github.com/gemarkode/showcase
