<footer class="cgs-bg-footer mt-5 py-5">
        <div class="mx-auto col-lg-12 py-3">
                <div class="col-lg-12">
                        <p class="text-muted font-italic text-center">
                                <a href="{{ site.url }}/p/tentang-kami/"
                                        class="text-white p-1">Tentang Kami</a>
                                <a href="{{ site.url }}/p/produk-software/"
                                        class="text-white p-1">Software</a>
                                <a href="{{ site.url }}/p/produk-hardware/"
                                        class="text-white p-1">Hardware</a>
                                <a href="{{ site.url }}/p/testimoni-kami/"
                                        class="text-white p-1">Testimoni</a>
                                <a href="{{ site.url }}/p/galeri-kami/" class="text-white p-1">Galeri
                                        Kami</a>
                                <a href="{{ site.url }}/p/hubungi-kami/" class="text-white p-1">Hubungi
                                        Kami</a>
                        <p class="text-light font-italic text-center p-3"> Copyright © 2018 - 2021 <a
                                        href="{{ site.url }}" class="text-light">CV. Cipta Graha
                                        Software</a>
                        </p>

                </div>
        </div>
</footer>


<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
        AOS.init();
</script>
<script src="{{ site.cdn }}/assets/js/bootstrap.bundle.min.js"></script>
<a href="https://api.whatsapp.com/send/?phone=6281286860258&text=Halo%20Cipta%20Graha%20Software&app_absent=0"><img
                src="{{ site.cdn }}/assets/img/wa.png" class="cgs-wa" alt="" srcset=""></a>
</body>

</html>