@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);


/*

Github : gemarkode
Website : gemarkode.or.id

*/

 .gemar-card {
     font-family: "Montserrat", sans-serif;
     font-weight: 300;
 }

 .gemar-card h5 {
     line-height: 26px;
     font-size: 21px;
 }

 .gemar-card .font-medium {
     font-weight: 500;
 }

 .gemar-card .btn-md {
     padding: 15px 45px;
     font-size: 16px;
 }

 .gemar-card .op-8 {
     opacity: 0.8;
 }

 .gemar-card .bg-1 {
     background-color: #252527;
 }

 .gemar-card .bg-2 {
     background-color: #e89f31;
 }

 .gemar-card .bg-3 {
     background-color: #252527;
 }

 .gemar-card .wrap-gemar-card-box {
     padding: 100px 20px;
     width: 100%;
     max-width: 450px;
     margin: 0 auto;
 }

 .gemar-card .btn-outline-light:hover {
     color: #263238 !important;
 }
 .gemar-header {
     font-family: "Montserrat", sans-serif;
     font-weight: 300;
     padding: 10% 0;
     background-size: cover;
     background-position: center center;
 }

 .gemar-header .title {
     font-weight: 700;
     font-size: 48px;
     line-height: 50px;
 }

 .gemar-header .subtitle {
     line-height: 24px;
 }

 @media (max-width: 900px) {
     .gemar-header .title {
         font-size: 40px;
         line-height: 45px;
     }
 }

 .gemar-header .btn-md {
     padding: 15px 45px;
     font-size: 16px;
 }

 .gemar-header .badge {
     line-height: 21px;
 }

 .gemar-header .badge-inverse {
     background: #3e4555;
 }

 .gemar-header .op-8 {
     opacity: 0.8;
 }