---
layout: default
---
<div class="static-slider10" style="background-image:url(./bg.jpeg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center py-5 mt-5">
            <!-- Column -->
            <div class="col-md-8 align-self-center text-center py-5 bg-dark">
                <h1 class="my-3 title text-white text-uppercase">Gemar Kode</h1>
                <h6 class="text-white font-weight-normal op-8">Komunitas Programmer Dan Penggiat Teknologi Indonesia</h6>
                <a class="btn btn-outline-light rounded-pill btn-md mt-3" href="{{ site.url }}/tentang"><span>Selengkapnya</span></a>
            </div>
            <!-- Column -->

        </div>
    </div>
</div>
<div class="service-10 container-fluid mx-auto">
    <div class="row no-gutters">
        <!-- column  -->
        <div class="col-lg-4 bg-1">
            <div class="wrap-service10-box text-center text-white">
                <h5 class="text-white">Kontribusi Open Source</h5>
                <p class="op-8 my-4">Membangun open source dan aktif berkontribusi dalam open source termasuk mendukung sistem operasi berbasis LINUX.</p>
                <a href="https://github.com/gemarkode" class="btn btn-outline-light btn-md mt-3"><span>Lihat</span></a>
            </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-4 bg-2">
            <div class="wrap-service10-box text-white text-center">               
                <h5 class="text-dark">Aktif Dalam Event</h5>
                <p class="op-8 my-4 text-dark">Berpartisipasi dan mendukung berbagai event yang berkaitan dengan kemajuan dunia teknologi di indonesia.</p>
                <a href="{{ site.url }}/event" class="btn btn-outline-dark btn-md mt-3"><span>Lihat</span></a>
            </div>
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-4 bg-3">
            <div class="wrap-service10-box text-white text-center">
                <h5 class="text-white">Membangun Komunitas</h5>
                <p class="op-8 my-4">Forum bagi para remaja penggiat teknologi untuk mengembangkan kemampuan dan memberikan tempat berdiskusi.</p>
                <a href="https://web.facebook.com/gemarkode/" class="btn btn-outline-light btn-md mt-3"><span>Lihat</span></a>
            </div>
        </div>
        <!-- column  -->
    </div>
</div>

<style>
    @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);

    .service-10 {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
    }

    .service-10 h5 {
        line-height: 26px;
        font-size: 21px;
    }

    .service-10 .font-medium {
        font-weight: 500;
    }

    .service-10 .btn-md {
        padding: 15px 45px;
        font-size: 16px;
    }

    .service-10 .op-8 {
        opacity: 0.8;
    }

    .service-10 .bg-1 {
        background-color: #252527;
    }

    .service-10 .bg-2 {
        background-color: #e89f31;
    }

    .service-10 .bg-3 {
        background-color: #252527;
    }

    .service-10 .wrap-service10-box {
        padding: 100px 20px;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .service-10 .btn-outline-light:hover {
        color: #263238 !important;
    }

    @import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

    .static-slider10 {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        padding: 10% 0;
        background-size: cover;
        background-position: center center;
    }

    .static-slider10 .title {
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
    }

    .static-slider10 .subtitle {
        line-height: 24px;
    }

    @media (max-width: 900px) {
        .static-slider10 .title {
            font-size: 40px;
            line-height: 45px;
        }
    }

    .static-slider10 .btn-md {
        padding: 15px 45px;
        font-size: 16px;
    }

    .static-slider10 .badge {
        line-height: 21px;
    }

    .static-slider10 .badge-inverse {
        background: #3e4555;
    }

    .static-slider10 .op-8 {
        opacity: 0.8;
    }
</style>